asgiref==3.7.2
autopep8==2.0.4
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
Django==5.0.2
django-cors-headers==4.3.1
gevent==23.9.1
greenlet==3.0.3
gunicorn==21.2.0
httpretty==1.1.4
idna==3.6
packaging==23.2
psycopg2==2.9.9
pycodestyle==2.11.1
pycparser==2.21
python-decouple==3.8
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.4
urllib3==2.2.1
zope.event==5.0
zope.interface==6.1
